{% extends 'OdraRiverCup/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'Artykul_edit' pk=artykul.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        {% if artykul.date %}
            <div class="date">
                {{ artykul.date }}
            </div>
        {% endif %}
        <h1 class="text-muted text-muted">{{ artykul.tytul }}</h1>
        <p class="text-left post_contain">{{ artykul.tresc|linebreaksbr }}</p>
    </div>
{% endblock %}