{% load i18n %}
{% load staticfiles %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" language="javascript"  src="{% static '/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
</head>
<body>
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"> <a href ="/"><b>Odra River Cup</b></a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li>
                       <a href="/" >
                          {% trans 'Aktualności' %}
                       </a>
                  </li>
                  <li>
                      <a href="/Harmonogram" >
                          {% trans 'Harmonogram' %}
                       </a>
                  </li>
                    <li>
                      <a href="/Partnerzy" >
                          {% trans 'Partnerzy/Patroni' %}
                       </a>
                  </li>
                       <li>
                      <a href="/Kontakt" >
                          {% trans 'Kontakt' %}
                       </a>
                  </li>

                       <li>
                      <a href="/Galeria" >
                         {% trans 'Galeria' %}
                       </a>
                  </li>

                      <li>
                      <a href="/Wyniki" >
                        {% trans 'Wyniki' %}
                       </a>
                  </li>
                    {% if user.is_authenticated %}
                     <li>
                      <a href="/accounts/edit" >
                        {% trans 'Edytuj profil' %}
                       </a>
                  </li>
                    {% endif %}

                     {% if user.is_authenticated %}

                    <li>
                      <a href="/accounts/logout">
                        {% trans 'Wyloguj' %}
                       </a>
                    </li>
                    {% else %}
                    <li>
                      <a href="/accounts/login">
                        {% trans 'Zaloguj' %}
                       </a>
                    </li>
                      {% endif %}


                     <li>
                      <a href="/en">
                        English
                       </a>
                    </li>

                     <li>
                      <a href="/pl">
                        Polski
                       </a>
                    </li>

                </ul>
              </nav>
            </div>
          </div>

       <div class="inner cover">
           {% block content %}
           {% endblock %}
       </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Szablon stworzony przez Jaremę Radoma,Jarka Poradę i Mateusza Kosiba</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <script type="text/javascript" language="javascript"  src="{% static '/js/jquery.js' %}"></script>
    <script type="text/javascript" language="javascript">
            $(document).ready(function(){
            <!--"alert("Hello world");"-->
        })
    </script>

     <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    {% block javascript %}{% endblock %}
</body>

</html>
