{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<html>
<body>
    <div id="header">
      <h1><a href ="/"><b>Odra River Cup</b></a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                        <table style="width:100%">
  <tr>  
{{LANGUAGE_CODE}}
    <form class="navbar-form navbar-left" method="get" action="/">
          <th><button id = "englang" type="submit" class="btn btn-default">{% trans 'Aktualności' %}</button></th>
    </form>
    <form class="navbar-form navbar-left" method="get" action="/Harmonogram">
          <th><button id = "englang" type="submit" class="btn btn-default">{% trans 'Harmonogram' %}</button></th>
    </form>
    <form class="navbar-form navbar-left" method="get" action="/Partnerzy">
          <th><button id = "englang" type="submit" class="btn btn-default">{% trans 'Partnerzy/Patroni' %}</button></th>
    </form>
    <form class="navbar-form navbar-left" method="get" action="/Kontakt">
          <th><button id = "englang" type="submit" class="btn btn-default">{% trans 'Kontakt' %}</button></th>
    </form>
    <form class="navbar-form navbar-left" method="get" action="/Galeria">
          <th><button id = "englang" type="submit" class="btn btn-default">{% trans 'Galeria' %}</button></th>
    </form>
    <form class="navbar-form navbar-left" method="get" action="/Wyniki">
          <th><button id = "englang" type="submit" class="btn btn-default">{% trans 'Wyniki' %}</button></th>
    </form>
    <form class="navbar-form navbar-left" method="get" action="/Loggin">
          <th><button id = "englang" type="submit" class="btn btn-default">{% trans 'Logowanie' %}</button></th>
    </form>

  </tr>
  </table>
   <form class="navbar-form navbar-left" method="get" action="/en">
          <button id = "englang" type="submit" class="btn btn-default">English</button>
    </form>
    <form class="navbar-form navbar-left" method="get" action="/pl">
          <button id = "englang" type="submit" class="btn btn-default">Polski</button>
    </form>
    
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>