{% extends 'OdraRiverCup/base.html' %} 
  {% block content %}
    <div class="container">
    {% for zawody, biegi in wyniki.items %} 
        <h2>{{zawody}}</h2>
        <table class="table">
            <th>Data startu</th>
            <th>Godzina startu</th>
            <th>Nazwa zespolu</th>
            <th>Wynik</th>
            <tr>
        {% for bieg in biegi %}
            {% for element in bieg %}
                <td>{{element}}</td>
    	    {% endfor %} 
        {% endfor %}
            </tr>
        </table>
  {% endfor %}
    </div>
  {% endblock %}
