{% extends 'OdraRiverCup/base.html' %} add {% load i18n %} {% block content %}
<div class="container">
    {% csrf_token %}

    {% for zawody, harmonogramy in wyniki.items %}
    <h1>{{zawody}}</h1>
    {% if user.is_authenticated %} 
        <!-- <form method="post" action="/Wyniki/remove/"> --> 
        <!--     <button name="remove" type="submit" class="btn btn-default lb" value="{{ zawody }}"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button> -->
        <!--     {% csrf_token %} -->
        <!-- </form> --> 
    {% endif %}

    {% for harmonogram, biegi in harmonogramy.items %}
    <h2>{{harmonogram}}</h2>
    <table class=table>
        <th id="englang">{% trans 'Data startu' %}</th>
        <th id="englang">{% trans 'Godzina startu' %}</th>
        <th id="englang">{% trans 'Nazwa zespolu' %}</th>
        <th id="englang">{% trans 'Wynik' %}</th>
        {% for bieg in biegi %}
            <tr>
            {% for zespol in bieg %}
            <td>{{zespol}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %} {% endfor %}
</div>
{% endblock %}
